<div class="row">
    <div class="col-md-8">
      <!--Добавить лоадер в список покемонов и ягод-->
       <div ng-if="!pokemonsListLoaded">
            <span class="glyphicon glyphicon-refresh"></span>
            Loading...
        </div>
        <div class="list-group" ng-if="pokemonsListLoaded">
            <a href="#!/pokemons/{{singlePokemon.name }}" class="list-group-item" ng-repeat="singlePokemon in pokemons">

                <h4>
                    {{singlePokemon.name | uppercase }}
                </h4>

            </a>
        </div>

    </div>
    <div class="col-md-4">
       <!--Добавить лоадер в список ягод-->
        <div ng-if="!berriesListLoaded">
            <span class="glyphicon glyphicon-refresh"></span>
            Loading...
        </div>
        <div class="list-group" ng-if="berriesListLoaded">
            <div class="list-group-item" ng-repeat="singleBerry in berries">

                <h4>
                    {{singleBerry.name | uppercase }}
                </h4>
        </div>

    </div>
</div>